main h2 {
  text-align: center;
  /* margin-top: 20px; */
  padding: 15px 0;
  background-color: var(--primary);
  color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

main nav ol li a {
  color: #999999;
}

.gambar {
  display: block;
  margin: auto;
  object-fit: contain;
  width: 90%;
  height: calc(20rem + ((1vw - 7.68px) * 0.6944));
}

.contact p{
  font-size: calc(1.3rem + ((1vw - 7.68px) * 0.6944));
}
.nav-menu {
  align-items: center;
}
.nav-menu-item {
  grid-column: span 4;
  text-align: center;
  margin: 0 5px;
}

.nav-menu-item {
  width: 100%;
}
.nav-menu-item a h4{
  margin-top: 10px;
  margin-bottom: -2px;
  font-size: calc(.9rem + ((1vw - 7.68px) * 0.6944));
  color: black;
}
.nav-menu-item a p{
  color: #6D8B74;
  font-size: calc(.8rem + ((1vw - 7.68px) * 0.6944));
}
.nav-menu .active {
  padding: 0 10px;
  border-radius: 20px;
  border: 2px solid #6D8B74;
}

.content {
  width: 90%;
}

.img-menu {
  width: 90%;
  /* height: 10%; */
  height: 300px;
  overflow: hidden;
}

.img-menu img {
  /* height: 300px; */
  object-fit: cover;
}




/* tablet */
@media screen and (min-width: 620px) {
  /* .cardd a img {
    width: 80%;
    height: calc(10rem + ((1vw - 7.68px) * 0.6944));
  }
  .text-cardd h5{
    font-size: calc(1.4rem + ((1vw - 7.68px) * 0.6944));
  }
  .text-cardd h3{
    color: black;
    font-size: calc(2rem + ((1vw - 7.68px) * 0.6944));
  } */

}

/* laptop */
@media screen and (min-width: 960px) {

  /* .cardd {
    grid-column: span 4;
    width: 80%;
  }

  .cardd a img {
    width: 80%;
    height: calc(10rem + ((1vw - 7.68px) * 0.6944));
  }
  .text-cardd h5{
    font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
  }
  .text-cardd h3{
    color: black;
    font-size: calc(1.5rem + ((1vw - 7.68px) * 0.6944));
  }
  .text-cardd .buttong {
    font-size: calc(.7rem + ((1vw - 7.68px) * 0.6944));
  } */

  /* .text-menu ol li {
    padding-bottom: 10px;
  } */
}
