:root {
  --primary: #6D8B74 !important;
}

body {
  overflow-x: hidden;
}

.bg {
  background-color: var(--primary)                                    ;
}

.text {
  color: var(--primary);
}

/* .tengah {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.kotak {
  max-width: 900px;
}

.form-control {
  border: 1px solid var(--primary);
}

@media screen and (max-width: 576px) {
  body {
    margin: 0 10px;
  }
}